.section-mailing-list {
  .media-blocks {
    margin-bottom: 0;
  }
}

#mc_embed_signup {
  form.validate#mc-embedded-subscribe-form {
    @include shift(1);
    @include span(10);
    @include last-col(1);

    @include medium-down {
      @include shift(0);
      @include span(12);
    }

    // margin: 0;
    // padding: 0;

    input.mce_inline_error {
      border-color: $pink;
    }

    div.mce_inline_error {
      background-color: $pink;
      color: white;
    }

    input {
      color: $dark;
    }

    input[type=radio] {
      margin-right: .25em;
    }

    .clear .button {
      background-color: $pink;
      color: white;
      font-weight: bold;
      height: auto;
      padding: 0.5em 1em;
      width: 100%;

      &:hover {
        background-color: $green;
      }
    }
  }

  div .asterisk {
    color: $pink;
    font-weight: bold;
  }

  #mc_embed_signup_scroll .mc-field-group,
  #mc_embed_signup_scroll .indicates-required {
    margin-right: 0;
  }

  #mc_embed_signup_scroll .mc-field-group, {
    width: 100%;
  }
}
