.media-blocks {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.media-block {
  @include clearfix;

  background-color: $darker;
  margin: 0 0 1rem;
  padding: 1em 0;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  // &.media-block-image {
  //   @include shift(1);
  //   @include span(10);
  //   @include last-col(1);
  //
  //   @include medium-down {
  //     @include shift(0);
  //     @include span(12);
  //   }
  // }

  &.media-block-audio {
    .iframe-wrapper {
      @include shift(2);
      @include span(8);
      @include last-col(2);

      height: 0;
      padding-bottom: 100%;

      @include small {
        @include shift(0);
        @include span(12);
        padding-bottom: 100%;
      }
    }

    iframe {
      border: solid 2px $green;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .iframe-wrapper {
    position: relative;
  }

  figure,
  form {
    @include shift(1);
    @include span(10);
    @include last-col(1);

    @include medium-down {
      @include shift(0);
      @include span(12);
    }

    margin-bottom: 0;
    margin-top: 0;

    img {
      @include clearfix;
      border: solid 2px $green;
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
