.main-nav {
  text-align: center;

  ul {
    @include medium-down {
      flex-wrap: wrap;
    }

    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    a:hover {
      background-color: $green;
      color: $white;
      text-shadow: 0 1px 0 $black;
    }

    &.nav-el-fb {
      @include clearfix;

      a {
        margin-left: .75rem;
        padding: 0;
      }

      a:hover {
        background-color: inherit;
      }
    }
  }

  a {
    padding: .125rem .75rem;
  }
}
