<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ereptile Destruction</title>
</head>
<body>
  <header>
    <h1>
      <a href="/">
        <img src="imgs/ed-logo.png" alt="EREPTILE DESTRUCTION">
      </a>
    </h1>

    <nav>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#audio">Audio</a></li>
        <li><a href="#shows">Shows</a></li>
        <li><a href="#store">Store</a></li>
        <li><a href="#pics">Pics</a></li>
      </ul>
    </nav>
  </header>
  <main>
    HI SHIT IS BUSTED (OR NOT?)
  </main>
  <footer>
    All content © Honk Honk Now
  </footer>
</body>
</html>
