@import 'variables';
@import 'typography';
@import 'mixins';

html {
  background-color: $black;
}

.page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;

  @include small {
    max-width: 480px;
    padding: 1rem;
  }

  @include medium {
    max-width: 800px;
  }
}

.ed-logo {
  margin: 1rem 0 2rem;

  a,
  img {
    @include clearfix;
    display: block;
  }

  img {
    margin: 0 auto;
  }
}
