@import 'variables';
@import 'typography';
@import 'mixins';

html {
  background-color: $black;
}

.page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;

  @include small {
    padding: 0 1rem;
  }

  @include medium {
    max-width: 800px;
  }
}

.section {
  border-bottom: solid 2px $white;
  margin-bottom: 2rem;

  @include medium-down {
    margin-bottom: 0;
  }
}

.ed-logo {
  margin: 1rem 0;
  position: relative;

  a,
  img {
    @include clearfix;
    display: block;
  }

  a:hover {
    background-color: $black;
    color: $pink;
  }

  img {
    height: auto;
    width: 100%;
  }
}

// .text {
//   @include shift(1);
//   @include span(10);
//   @include last-col(1);
//
//   @include medium-down {
//     @include shift(0);
//     @include span(12);
//   }
// }
