@import 'variables';
@import 'typography';
@import 'mixins';

html {
  background-color: $black;
}

.page {
  margin: 0 auto;
  max-width: 1200px;

  @include small {
    max-width: 480px;
  }

  @include medium {
    max-width: 800px;
  }
}

.ed-logo {
  a {
    @include clearfix;
  }
}
