body {
  color: $white;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 20px;
  line-height: 1.6;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  border-bottom: solid 2px;
  font-size: 2.333rem;
  line-height: 1;
  margin: 1rem 0 .5rem;
  //padding-left: 1em;

  &.heading {
    &:before {
      margin-right: .75rem;
    }
  }

  &.heading-intro {
    &:before {
      content: '🍆';
    }
  }

  &.heading-video {
    &:before {
      content: '📺';
    }
  }

  &.heading-audio {
    &:before {
      content: '📻';
    }
  }

  &.heading-shows {
    &:before {
      content: '⚡'; // 📅
    }
  }

  &.heading-mailing-list {
    &:before {
      content: '📭';
    }
  }

  &.heading-store {
    &:before {
      content: '🤑';
    }
  }

  &.heading-pics {
    &:before {
      content: '🌅';
    }
  }

  &.heading-contact {
    &:before {
      content: '☎';
    }
  }
}

h3 {
  font-size: 2rem;
  margin: 1rem 0 .5rem;
}

p {
  margin: 0 0 1rem;
}

a {
  background-color: $black;
  color: $pink;
  display: inline-block;
  font-weight: bold;
  padding: .125rem 1rem;
  text-decoration: none;

  &:hover {
    background-color: $green;
    color: $white;
    transition: all .3s;
  }
}

footer {
  text-align: center;
  .footer-content {
    display: inline-block;
    font-size: 1rem;
    margin: 0 auto;
  }
}
