// COLORS
$black: #000;
$darker: #222;
$dark: #444;
$white: #e6e6e6;
$pink: #ff69b4;
$orange: #ffaa60;
$yellow: #f3f315;
$green: #83f52c;

// BREAKPOINTS:
$small: 600px;
$medium: 1000px;

// GRID
$col-width: 90px;
$gutter-width: 30px;
// columns are three "units" wide, gutter is one "unit" wide.
$columns: 12;
$col-unit: 100% / (($columns * 3) + ($columns - 1));
